body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}
footer{
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: royalblue;
    display: flex;
    justify-content: right;
    overflow: visible;
}
ul li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover{
    background-color: blue;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: royalblue;
}
.dropdown-content a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color:blue;
}
.dropdown:hover .dropdown-content{
    display: block;
}
body{
    background-image: url('ApartmentsLieblHaus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}