body::before{
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    transform: translate(-5%,-5%);
    background-image: url('/bilder/ApartmentsLieblHaus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    filter: blur(5px) brightness(50%);
}